# We're looking for one or more volunteers to take the lead of cppo,
# with the help of ocaml-community.
#
# Call for volunteers: https://github.com/ocaml-community/meta/issues/27
# About ocaml-community: https://github.com/ocaml-community/meta
#
# Interim maintainers who won't be very responsive :-(
* @mjambon @pmetzger
